# 1. Create NumPy arrays from Python Data Structures, Intrinsic NumPy objects and Random Functions.

In [ ]:
# @title
import numpy as np

# Numpy Zeros

In [ ]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
np.zeros((2,3))

# Numpy arange

In [ ]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.arange(10,50)

# Numpy Linspace

In [ ]:
np.linspace(0,100,5)

# Numpy indices

In [ ]:
np.indices((3,3))

# Numpy Random function

In [ ]:
np.random.random((3,3))

# 2. Manipulation of NumPy arrays- Indexing, Slicing, Reshaping, Joining and Splitting.

# Indexing

In [ ]:
arr=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [ ]:
arr[1,1]

# slicing

In [ ]:
slice=np.array([1,2,3,4,5,6,7,8,9])

In [ ]:
print(slice[3:7])

# Reshaping

In [ ]:
newSlice=slice.reshape(3,3)
print(newSlice)

# Joining

In [ ]:
arr1=np.array([1,2,3])
arr2=np.array([4,5,6])
arr3=np.concatenate((arr1,arr2))
print(arr3)

# Splitting

In [ ]:
newArr=np.array_split(arr3,5)
print(newArr)

# 3. Computation on NumPy arrays using Universal Functions and Mathematical methods.

In [ ]:
angles=np.array([0,30,45,60,90])
radians=np.deg2rad(angles)
sine_angles=np.sin(radians)
print(sine_angles)

In [ ]:
cos_angles=np.cos(radians)
print(cos_angles)

In [ ]:
tan_angles=np.tan(radians)
print(tan_angles)

In [ ]:
sineh_values=np.sinh(radians)
print(sineh_values)

In [ ]:
base=3
height=4
hypotenuse=np.hypot(base,height)
print("hypotenuse : ", hypotenuse)

In [ ]:
w=np.array([50, 70, 21, 43, 56, 90, 108])
print("Minimum value:", np.min(w))
print("Maximum value:", np.max(w))

In [ ]:
print("Mean value:", np.mean(w))
print("Median value:", np.median(w))
print("Standard deviation:", np.std(w))
print("Variance:", np.var(w))
print("Sum:", np.sum(w))
print("Range:",np.ptp(w))

# 4. Import a CSV file and perform various Statistical and Comparison operations on rows columns.

In [ ]:
import pandas as pd
df=pd.read_csv('Housedata.csv')

In [ ]:
df

In [ ]:
mean_price=df['price'].mean()
median_price=df['price'].median()
mode_price=df['price'].mode()
std_price=df['price'].std()
var_price=df['price'].var()
sum_price=df['price'].sum()
max_price=df['price'].max()
min_price=df['price'].min()

In [ ]:
print("Mean of price: ",mean_price)
print("Median of price: ",median_price)
print("Mode of price: ",mode_price)
print("Standard deviation of price: ",std_price)
print("Variance of price: ",var_price)
print("Sum of price: ",sum_price)
print("Maximum of price: ",max_price)
print("Minimum of price: ",min_price)

In [ ]:
df.info()

In [ ]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

# 5. Load an image file and do crop and flip operation using NumPy Indexing.

In [ ]:
from PIL import Image
import cv2

In [ ]:
imgage=Image.open('IMG_20240223_183324.jpg')

In [ ]:
imgage

In [ ]:
array=np.array(imgage)

In [ ]:
cropped_array=array[20:400,100:400]

In [ ]:
Image.fromarray(cropped_array)

In [ ]:
Image.fromarray(np.flip(array))

In [ ]:
Image.fromarray(np.flipud(array))

# 6. Write a program to compute summary statistics such as mean, median, mode, standard deviation and variance of the given different types of data

In [ ]:
from scipy import stats as st

In [ ]:
import statistics

In [ ]:
arr=np.array([1,1,2,2,2,3,4,5])

In [ ]:
print("Mean : ",statistics.mean(arr))
print("Median : ",statistics.median(arr))
print("Mode : ",statistics.mode(arr))
print("Standard deviation : ",statistics.stdev(arr))
print("Variance : ",statistics.variance(arr))

In [ ]:
print("Cumulative Sum:",np.cumsum(arr))
print("Cumulative Product:",np.cumprod(arr))
print("Absolute value:",np.abs(arr))
print("Product:",np.prod(arr))
print("Sum:",np.sum(arr))
print("Maximum:",np.max(arr))

# 7. Create Pandas Series and Data Frame from various inputs.

In [ ]:
students=["Prasanna","Ayesha","Srekanth","Sandeep"]
student_series=pd.Series(students)

In [ ]:
print(type(student_series))
print(student_series)

In [ ]:
dob_series=pd.Series(['13/March','20/June','19/May','16/April'])
roll_series=pd.Series([205,360,420,840])

In [ ]:
frame=pd.DataFrame({'Name':student_series,'Date of Birth':dob_series,'Roll Number':roll_series})
result=pd.DataFrame(frame)

In [ ]:
result

In [ ]:
dataframe=list(zip(student_series,dob_series,roll_series))
dataframe

# 8.  Import any CSV file to Pandas Data Frame and perform the following:

In [ ]:
data=pd.read_csv('ex2dataset.txt')

# a) Visualize the first and last 10 records

In [ ]:
data.head(10)

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4
5      1  760  3.00     2
6      1  560  2.98     1
7      0  400  3.08     2
8      1  540  3.39     3
9      0  700  3.92     2

In [ ]:
data.tail(10)

     admit  gre   gpa  rank
390      1  800  3.05     2
391      1  660  3.88     2
392      1  600  3.38     3
393      1  620  3.75     2
394      1  460  3.99     3
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

# b) Get the shape, index and column details.

In [ ]:
data.shape

(400, 4)

In [ ]:
data.columns

Index(['admit', 'gre', 'gpa', 'rank'], dtype='object')

# c) Select/Delete the records(rows)/columns based on conditions.

In [ ]:
data[data['gre']<600]

In [ ]:
data.drop(data[data['gre']<600].index,inplace=True)
data.sort_index(inplace=True)
data

# d) Perform ranking and sorting operations.

In [ ]:
data['gpa'].rank(ascending=1)

# e) Do required statistical operations on the given columns.

In [ ]:
print("mean",data['CGPA'].mean())
print("median",data['CGPA'].median())
print("mode",data['CGPA'].mode())
print("standard deviation",data['CGPA'].std())
print("variance",data['CGPA'].var())

# f) Find the count and uniqueness of the given categorical values.

In [ ]:
data.count()

In [ ]:
m=len(pd.unique(data['CGPA']))
m

94

In [ ]:
n=len(pd.unique(data['GRE Score']))
n

11

# g) Rename single/multiple columns.

In [ ]:
data.rename(columns={'gre':'GRE Score','gpa':'CGPA','rank':'Rank Score'},inplace=True)
data

# 10. Import any CSV file to Pandas DataFrame and perform the following:
(a) Handle missing data by detecting and dropping/ filling missing values.  
(b) Transform data using apply() and map() method.  
(c) Detect and filter outliers.  
(d) Perform Vectorized String operations on Pandas Series.  
(e) Visualize data using Line Plots, Bar Plots, Histograms, Density Plots and Scatter  
Plots.

In [ ]:
dd=pd.read_csv('loan_data_set.csv')

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
dd

In [ ]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [ ]:
dd.isnull().sum()

In [ ]:
dd['Gender'].fillna(dd['Gender'].mode()[0],inplace=True)
dd['Married'].fillna(dd['Married'].mode()[0],inplace=True)
dd['Dependents'].fillna(dd['Dependents'].mode()[0],inplace=True)
dd['Self_Employed'].fillna(dd['Self_Employed'].mode()[0],inplace=True)
dd['LoanAmount'].fillna(dd['LoanAmount'].mean(),inplace=True)
dd['Loan_Amount_Term'].fillna(dd['Loan_Amount_Term'].mean(),inplace=True)
dd['Credit_History'].fillna(dd['Credit_History'].mean(),inplace=True)

In [ ]:
dd.isnull().sum()

In [ ]:
dd['CoapplicantIncome']=dd['CoapplicantIncome'].apply(lambda x:x*1000)
sns.boxplot(dd['ApplicantIncome'])

In [ ]:
Q1=dd['ApplicantIncome'].quantile(0.25)
Q3=dd['ApplicantIncome'].quantile(0.75)
IQR=Q3-Q1

In [ ]:
upper=np.where(dd['ApplicantIncome']>=(Q3+1.5*IQR))
lower=np.where(dd['ApplicantIncome']<=(Q1-1.5*IQR))

In [ ]:
print(upper[0])

In [ ]:
lower

(array([], dtype=int64),)

In [ ]:
dd.drop(upper[0],inplace=True)
dd.drop(lower[0],inplace=True)

In [ ]:
dd.shape

(564, 13)

In [ ]:
plt.hist(dd['Gender'],bins=5)

In [ ]:
plt.bar(dd['Gender'],dd['ApplicantIncome'])

# 12. Write a program to implement k-Nearest Neighbour algorithm to classify the iris data set.

In [ ]:
from sklearn.datasets import load_iris

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [ ]:
iris=load_iris()

In [ ]:
x=iris.data
y=iris.target
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
neighbours=np.arange(1,9)
train_accuracy=np.empty(len(neighbours))
test_accuracy=np.empty(len(neighbours))

In [ ]:
for i,k in enumerate(neighbours):
    knn=KNeighborsClassifier(n_neighbors=k)
    knn.fit(x_train,y_train)

In [ ]:
plt.plot(neighbours,test_accuracy,label='test_accuracy')
plt.plot(neighbours,train_accuracy,label='train_accuracy')
plt.legend()
plt.xlabel('neighbours')
plt.ylabel('accuracy')
plt.show()

In [ ]:
y_test